
*.sty

*.aux

*.fdb_latexmk

*.fls

*.log

*.nav

*.out

*.synctex.gz

*.toc

*.snm

Lecture_2/Notebook/\.ipynb_checkpoints/

Lecture_1/Slides/\.DS_Store

*.DS_Store

Lecture_1/Slides/\._Abstract

Lecture_9/CTR-DMD-Tutorial-Short\.pdf

*.zip

Lecture_10/Slides/Notebook/\.ipynb_checkpoints/

Lecture_10/Slides/julia/\.ipynb_checkpoints/

Lecture_10/Notebook/\.ipynb_checkpoints/

Projects/2018-2019/Codes/Stochastic_DynSys/\.ipynb_checkpoints/

Lecture_11/Slides/julia/\.ipynb_checkpoints/

Examen/2018-2019/julia/\.ipynb_checkpoints/

*.h5

BIFD11\.pdf
